@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model RH.EntityFramework.Shared.Entities.SystemSettings

@{
    ViewBag.Title = "افزودن تنظیمات جدید";
    Layout = "_Layout";
}

<div class="container-fluid">
    <div class="animated fadeIn">
        <div class="">
            <div class="card">
                <div class="card-header">
                    <h2>افزودن تنظیمات جدید</h2>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-12">
                            <form asp-action="Create" method="post" id="contact_form" class="form-horizontal ">

                                <div class="form-group row">

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3" style="direction: rtl">
                                        <label asp-for="CrawlingInterval" class="control-label">زمان خزش(میلی ثانیه)</label>
                                        <input asp-for="CrawlingInterval" class="form-control form-control-setting" type="number">

                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3" style="direction: rtl">
                                        <label asp-for="Resolution" class="control-label">رزولوشن</label>
                                        <select asp-for="Resolution" class="form-control form-control-setting">
                                            <option value="1">100%</option>
                                            <option value="2">50%</option>
                                            <option value="3">33%</option>
                                            <option value="4">25%</option>
                                            <option value="5">20%</option>
                                        </select>

                                    </div>
                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input asp-for="BaseWorkerSetting.RegenerateDimension" class="form-check-input">
                                        <label asp-for="BaseWorkerSetting.RegenerateDimension" class="  form-check-label">باز تولید ابعاد</label>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input asp-for="BaseWorkerSetting.RegenerateWindDimension" class="form-check-input">
                                        <label asp-for="BaseWorkerSetting.RegenerateWindDimension" class="  form-check-label">باز تولید ابعاد باد</label>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input asp-for="BaseWorkerSetting.ReCrawlTileImage" class="form-check-input">
                                        <label asp-for="BaseWorkerSetting.ReCrawlTileImage" class="  form-check-label">خزش تصاویر</label>
                                    </div>

                                    <div class="col-md-6 col-lg-4 col-xl-2 mb-3">
                                        <input asp-for="BaseWorkerSetting.ReCrawlLabel" class="form-check-input">
                                        <label asp-for="BaseWorkerSetting.ReCrawlLabel" class="  form-check-label">خزش اسامی</label>
                                    </div>




                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.MinZoom" class="  control-label">Dimension.MinZoom</label>

                                    <input asp-for="Dimension.MinZoom" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.MaxZoom" class="  control-label">Dimension.MaxZoom</label>

                                    <input asp-for="Dimension.MaxZoom" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.TopLeft.X" class="  control-label">Dimension.TopLeft.X</label>

                                    <input asp-for="Dimension.TopLeft.X" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.TopLeft.Y" class="  control-label">Dimension.TopLeft.Y</label>

                                    <input asp-for="Dimension.TopLeft.Y" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.BottomRight.X" class="  control-label">Dimension.BottomRight.X</label>

                                    <input asp-for="Dimension.BottomRight.X" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.BottomRight.Y" class="  control-label">Dimension.BottomRight.Y</label>

                                    <input asp-for="Dimension.BottomRight.Y" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="WindDimensions.XInterval" class="  control-label">WindDimensions.XInterval</label>

                                    <input asp-for="WindDimensions.XInterval" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="WindDimensions.YInterval" class="  control-label">WindDimensions.YInterval</label>

                                    <input asp-for="WindDimensions.YInterval" class="form-control form-control-setting" type="number">

                                </div>
                                <div class="form-group">
                                    <label asp-for="WindDimensions.TopLeft.X" class="  control-label">WindDimensions.TopLeft.X</label>

                                    <input asp-for="WindDimensions.TopLeft.X" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="WindDimensions.TopLeft.Y" class="  control-label">WindDimensions.TopLeft.Y</label>

                                    <input asp-for="WindDimensions.TopLeft.Y" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="WindDimensions.BottomRight.X" class="  control-label">WindDimensions.BottomRight.X</label>

                                    <input asp-for="WindDimensions.BottomRight.X" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="Dimension.BottomRight.Y" class="  control-label">Dimension.BottomRight.Y</label>

                                    <input asp-for="Dimension.BottomRight.Y" class="form-control form-control-setting" type="number">

                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.ForecastCityTileECMWF" class="  control-label">ForecastCityTileECMWF</label>

                                    <input asp-for="CrawlWebPath.ForecastCityTileECMWF" class="form-control form-control-setting" type="text">

                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.ForecastCityTileGFS" class="  control-label">ForecastCityTileGFS</label>

                                    <input asp-for="CrawlWebPath.ForecastCityTileGFS" class="form-control form-control-setting" type="text">
                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.ForecastWindECMWF" class="  control-label">ForecastWindECMWF</label>

                                    <input asp-for="CrawlWebPath.ForecastWindECMWF" class="form-control form-control-setting" type="text">

                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.ForecastWindGFS" class="  control-label">ForecastWindGFS</label>

                                    <input asp-for="CrawlWebPath.ForecastWindGFS" class="form-control form-control-setting" type="text">

                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.ForecastWindGFSLevel" class="  control-label">ForecastWindGFSLevel</label>

                                    <input asp-for="CrawlWebPath.ForecastWindGFSLevel" class="form-control form-control-setting" type="text">

                                </div>
                                
                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.ForecastWindGFSLevelKeys" class="  control-label">ForecastWindGFSLevelKeys</label>

                                    <input asp-for="CrawlWebPath.ForecastWindGFSLevelKeys" class="form-control form-control-setting" type="text">

                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.TileWebPath" class="  control-label">TileWebPath</label>

                                    <input asp-for="CrawlWebPath.TileWebPath" class="form-control form-control-setting" type="text">

                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.TileDirectoryPath" class="  control-label">TileDirectoryPath</label>

                                    <input asp-for="CrawlWebPath.TileDirectoryPath" class="form-control form-control-setting" type="text">

                                </div>

                                <div class="form-group">
                                    <label asp-for="CrawlWebPath.LabelPath" class="  control-label">LabelPath</label>
                                    <input asp-for="CrawlWebPath.LabelPath" class="form-control form-control-setting" type="text">

                                </div>
                                <div class="clearfix"></div>

                                <button type="submit" class="btn btn-info btn-lg btn-responsive" id="search"> ثبت <span class="glyphicon glyphicon-search"></span></button>
                                @*<div class="form-group">
            <label class="col-md-4 control-label"></label>
            <div class="col-md-4">
                <br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button type="submit" class="btn btn-warning">&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspSUBMIT&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</button>
            </div>
        </div>*@


                            </form>


                            <div>
                                <a asp-action="Index">Back to List</a>
                            </div>

                            @section Scripts {
                                @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                            }
